// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mysampleapp {
  @include valo;
  .backColorGrey
  {
     background-color:#CCCCFF;
  }
  .labelwelcome
 {
 font-family:Trebuchet MS;
 font-color:#4455aa;
 }
  .v-button 
  {
  color: #666666;
  background-color: #4455aa;
  border: 1px solid #4455aa;
  display: inline-block;
  
  
  font-family:Trebuchet MS;
  font-weight: bold;
}


/* BIG white style */
.v-button-big:focus {
    background: url(staticbuttonicon.png) 0px 0px;
}

.v-button-big:focus .v-button-wrap {
    background: url(staticbuttonicon.png) right 0px;
}

.v-button-big:active,
.v-button-big.v-pressed {
    background: url(staticbuttonicon.png) 0px 0px;
}

.v-button-big:active .v-button-wrap,
.v-button-big.v-pressed .v-button-wrap {
    background: url(staticbuttonicon.png) right 0px;
}

.v-button-big,
.v-disabled.v-button-big {
    background: url(staticbuttonicon.png) 0px 0px;
    height: 50px;
    width: 150px;
    
}

.v-button-big .v-button-wrap,
.v-disabled.v-button-big .v-button-wrap {
    background: url(staticbuttonicon.png) right 0px;
    height: 50px;
    width: 150px;
    padding: 1px 14px 0 8px;
}

.v-button-big .v-button-caption {
    font-weight: normal;
}
.v-horizontal > .v-spacing
 {
    width: 150px;
    height: 50px;
}
.v-caption
{
display: inline-block;
}
.v-nativebutton-borderless {
   
    background: transparent url(staticbuttonicon.png) no-repeat;
    width: 150px;
    height: 50px;
}
  // Insert your own theme rules here
}
